@import "./../../../../app/style/variables";

// TODO make it a heart <3
.health-container {
  position: absolute;
  bottom: 2px;
  right: 2px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: $white solid 1px;
  background-color: $red;
  color: $white;
  font-weight: bold;
}
