@import "./mixins";

// COLORS
$yellow: yellow;
$red: red;
$blue: blue;
$green: green;
$dark-red: darken(red, 10%);
$black: black;
$white: white;
$brown: brown;
$grey: grey;

// Terrain
$grass: #00ff66;
$sand: #ffdd22;
$ocean: #0022ee;
$mountain: #994444;
$landFactory: #666666;

$matrix-unselected-color: $white;
$matrix-selected-color: $black;
$matrix-movable-color: $blue;
$matrix-attackable-color: $red;
$matrix-actionable-color: $green;
$matrix-combinable-color: $dark-red;


$current-player-background: darken($grey, 10%);

$disabled: #999999;
