@import "../../app/style/variables";

.matrix {
  .matrix-table {
    clear: both;

    .matrix-cell {
      padding: 0;
      height: $matrixCellHeight;
      width: $matrixCellWidth;
      border: 3px solid $matrix-unselected-color;

      &.combinable {
        @include matrix-container($matrix-combinable-color);
      }

      &.movable {
        @include matrix-container($matrix-movable-color);
      }

      &.attackable:not(.movable) {
        @include matrix-container($matrix-attackable-color);
      }

      &.selected {
        @include matrix-container($matrix-selected-color);
      }

      &.actionable {
        @include matrix-container($matrix-actionable-color);
      }

      .cell-button {
        height: $matrixCellHeight;
        width: $matrixCellWidth;
      }
    }
  }
}