@import "../../../app/style/variables";

.unit {
  &.disabled {
    background-color: $disabled;
  }
  &.yellow {
    color: $yellow;
  }

  &.green {
    color: $green;
  }

  &.blue {
    color: $blue;
  }

  &.red {
    color: $red;
  }
}